# Remember to delete pywinpty
about-time
aiofiles
alive-progress
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
autograd
babel
beautifulsoup4
bleach
certifi
cffi
charset-normalizer
click
cloudpickle
cma
colorama
comm
contourpy
cycler
dask
debugpy
decorator
defusedxml
Deprecated
dill
distributed
executing
fastjsonschema
fonttools
fqdn
fsspec
graphemeu
grpcio
grpcio-tools
gym
gym-notices
h11
httpcore
httpx
idna
ipykernel
ipython
ipython_pygments_lexers
ipywidgets
isoduration
jedi
Jinja2
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-vim
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
lark
locket
MarkupSafe
matplotlib
matplotlib-inline
mistune
moocore
msgpack
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
opencv-python
packaging
pandas
pandocfilters
parso
partd
pillow
platformdirs
port-for
prometheus_client
prompt_toolkit
protobuf
psutil
pure_eval
py4j
pycparser
pyftg==2.3.0
Pygments
pymoo
pyparsing
python-dateutil
python-json-logger
PyYAML
pyzmq
referencing
requests
rfc3339-validator
rfc3986-validator
rfc3987-syntax
rpds-py
ruff
scipy
seaborn
Send2Trash
setuptools
six
sortedcontainers
soupsieve
stack-data
tblib
terminado
tinycss2
toolz
tornado
traitlets
typing_extensions
tzdata
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
widgetsnbextension
wrapt
zict
